
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Unlimited Fun, Unlimited Possibilities</h2>
                        <p class="text-muted">Check out what you have to do to start receiving a monthly payment!</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="/img/demo-screen-1.jpg" class="img-responsive" alt=""> </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item" href="#contact">
                                    <i class="icon-call-end text-primary"></i>
                                    <h3>Contact Us</h3>
                                    <p class="text-muted">Get informed about everything you need to know about starting to earn from video broadcasting!</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-film text-primary"></i>
                                    <h3>Make A Video</h3>
                                    <p class="text-muted">Make a video of your introduction & what would be your content for your video broadcasts!</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-cloud-upload text-primary"></i>
                                    <h3>Submit</h3>
                                    <p class="text-muted">Submit your video to us! We will do the rest!</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-earphones-alt text-primary"></i>
                                    <h3>Audition</h3>
                                    <p class="text-muted">Once your video is selected, we will be contacting you for an audition!</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-screen-smartphone text-primary"></i>
                                    <h3>Start broadcasting</h3>
                                    <p class="text-muted">Broadcast only 1 hour per day & meet the target gradually over the month!</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-wallet text-primary"></i>
                                    <h3>Receive Payment</h3>
                                    <p class="text-muted">By completing monthly target, start receiving payments!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-8">
                  <h3>Hosts it in the best cloud hosting on the market</h3>
                  <a target="_blank" href="https://m.do.co/c/a29d90274371" style="color:black" class="btn btn-outline btn-xl">Digital Ocean</a>
                </div> -->

            </div>
    </section>
