
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Divertimento Illimitato, Possibilità Illimitate</h2>
                        <p class="text-muted">Controlla Cosa Devi Fare per Iniziare a Ricevere un Pagamento Mensile!</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="/img/20180607_175428.jpg" class="img-responsive" alt=""> </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item" href="#contact">
                                    <i class="icon-call-end text-primary"></i>
                                    <h3>Contattaci</h3>
                                    <p class="text-muted">Informati su tutto ciò che devi sapere per iniziare a guadagnare dalle trasmissioni video!</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-film text-primary"></i>
                                    <h3>Fai un video</h3>
                                    <p class="text-muted">Crea un video di presentazione dove includi quale sarebbe il contenuto delle tue trasmissioni!</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-cloud-upload text-primary"></i>
                                    <h3>Invia</h3>
                                    <p class="text-muted">Inviaci il tuo video, al resto ci pensiamo noi!</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-earphones-alt text-primary"></i>
                                    <h3>Provino</h3>
                                    <p class="text-muted">Una volta selezionato il tuo video, ti contatteremo per un'audizione!</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-screen-smartphone text-primary"></i>
                                    <h3>Inizia a trasmettere</h3>
                                    <p class="text-muted">Trasmetti solo 1 ora al giorno e raggiungi l'obiettivo gradualmente nel corso del mese!</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-wallet text-primary"></i>
                                    <h3>Ricevi il tuo pagamento</h3>
                                    <p class="text-muted">Completando il target mensile, inizia a ricevere i pagamenti!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-8">
                  <h3>Hosts it in the best cloud hosting on the market</h3>
                  <a target="_blank" href="https://m.do.co/c/a29d90274371" style="color:black" class="btn btn-outline btn-xl">Digital Ocean</a>
                </div> -->

            </div>
    </section>
